* {
	margin: 0;
	padding: 0;
}

body {
	background: lightblue;
}

a {
	text-decoration: none;
}
h1 {
	color:  rgb(7, 47, 74);
	font-size: 7vw; 
	text-transform: uppercase;
    text-align: center;
	font-family: "thrillers", sans-serif;
	font-weight: 700;
	font-style: normal;
}
img {
	width: 100%;  
}
.dogs {
	display: grid; 
	grid-template-columns: repeat(2,1fr); 
	grid-gap: 24px; 
	font-family: "thrillers", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.dog-item {
	background-color: rgb(228, 255, 243);
}
.dog-item a {
	color: black;
}

.dog-item h2 {
	margin-bottom: 24px;
}

.dog-item .plant-content {
	padding: 22px;
}
