.painting-1{
    display:grid;
    width: 600px;
    height: 600px;
   border: 2px solid black;
   grid-template-columns: repeat(15, 40px);
   grid-template-rows: repeat(15, 40px);
   
   
}
.cream{
    background-color: FBFCED;
}

.red{
    background-color: E84733;
}

.blue{
    background-color: 489BC9;
}

.yellow{
    background-color: FBDD02;
}

.boeder-right{
    border-right: 20px solid 463D3B;
}