body{
    background-color: #B0B0B0;
}

.painting-2{
    display: grid;
    width: 595px;
    height: 595px;

    border: 1px solid black;
    
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(17, 1fr);
}

.black{
    background-color: #1E1E1E;
}

.white{
    background-color: #E3F1E0;
}

.yellow{
    background-color: #FDC414;
}

.blue{
    background-color: #0687E6;
}

.green{
    background-color: #29A06E;
}

.pink{
    background-color: #FBD4D1;
}

.dark-blue{
    background-color: #0B41BA;
}

.orange{
    background-color: #FD693D;
}

.red{
    background-color: #E83A3A;
}

.dark-yellow{
    background-color: #FE9A3A;
}

.border-yellow{
    border-bottom: 17px solid #FDC414;
}

.border-orange-top{
    border-top: 17px solid #FD693D;
}
.border-orange-bottom{
    border-bottom: 17px solid #FD693D;
}

.border-red{
    border-bottom: 17px solid #E83A3A;
}