.body{
    background-color: #DEDEDE;
}

.painting-3{
    display: grid;
    width: 750px;
    height: 400px;

    border: 1px solid black;

    grid-template-columns: repeat(28, 1fr);
    grid-template-rows: repeat(15, 1fr);
}

.dark-grey{
    background-color: #9FA09A;
}

.light-grey{
    background-color: #B9BBB6;
}

.dark-blue{
    background-color: #77A4DD;
}

.light-blue{
    background-color: #7DAFD4;
}

.orange{
    background-color: #B8531F;
}

.pink{
    background-color: #BD727E;
}